* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* TODO: This sectios is to my tables conteiner */

#conteinerTables {
  height: 100vh;
  background-image: linear-gradient(
    to right top,
    #f1f1f1,
    #f2f2f2,
    #f4f3f3,
    #f5f3f4,
    #f7f4f4
  );
}

/* TODO: This section is with set a color to floating alert */

.success-alert {
  background-color: #d4edda;
}

.primary-alert {
  background-color: #cce5ff;
}

.danger-alert {
  background-color: #f8d7da;
}

.paddingButtonConteinerPrincipal {
  height: auto;
  padding-bottom: 1em;
}

/* TODO: Carrucel section */

#imgCarrusel {
  height: 90vh;
  width: 100vw;
  object-fit: cover;
}

.carousel-item {
  min-height: 280px;
}

/* ------------------------------------------------ */
/* TODO: This sectios is to principal image */
#logoImgPrincipal {
  padding: 0;
  margin: 0;
  height: 70px;
  width: 160px;
}

/* ------------------------------------------------ */
/* TODO: This sectios is the info or add info to test */
#idBarNavContent {
  z-index: 200;
  background-color: #2a466a;
}

#infoNanBar {
  /* border: solid 1px #2977e5; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#infoNanBar p {
  margin: 0;
  padding: 0;
}

/* ------------------------------------------------- */
/* TODO: Glass efect section */
#glassEffect {
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);

  color: #10162c;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: auto;
  border-radius: 8px;
}

/* ------------------------------------------------- */

#DivinputSearch {
  border: none;
  border-bottom: solid 0.5px #8c8c8e;
  box-shadow: inset;
}

#inputSearch {
  background-color: #f7f4f4;
  border: none;
  font-size: 18px;
  line-height: 1.5;
  margin: 10px 0;
  font-weight: 300;
  vertical-align: middle;
  border-color: #ddd;
  font-weight: 300;
  font-size: 16px;
  color: #3c4858;
}

#inputSearch:focus {
  /* border: none; */
  box-shadow: none;
}

#tableConteiner table {
  margin: 0;
}

/* TODO: This section is to form all crud */

@media (max-width: 1000px) {
  #linkNavMenu {
    display: none;
  }
  
}

@media (max-width: 900px) {
  #disableCell {
    display: none;
  }

  #linkNavMenu {
    border: solid 1px #10162c;
  }
}

@media (max-width: 800px) {
  h4 {
    font-size: 14px;
  }

  #inputSearch {
    font-size: 14px;
  }

  #infoNanBar {
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 13px;
  }
}
