* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* TODO: This section is with set a color to floating alert */

.success-alert {
  background-color: #d4edda;
}

.primary-alert {
  background-color: #cce5ff;
}

.danger-alert {
  background-color: #f8d7da;
}

/* ------------------------------------------------ */

#idBarNavContent {
  z-index: 200;
}

#DivinputSearch {
  border: none;
  border-bottom: solid 0.5px #8c8c8e;
  box-shadow: inset;
}

#inputSearch {
  border: none;
  font-size: 18px;
  line-height: 1.5;
  margin: 10px 0;
  font-weight: 300;

  vertical-align: middle;
  border-color: #ddd;
  font-weight: 300;
  font-size: 16px;
  color: #3c4858;
}

#inputSearch:focus {
  border: none;
  box-shadow: none;
}

#tableConteiner table{
  margin: 0;
}

/* #tableConteiner{
  border: solid #3c4858 1px ;
} */

/* TODO: This section is to form all crud */

@media (max-width: 900px) {
  #disableCell {
    display: none;
  }
}
