#btnTables {
  font-size: 12px;
  height: 40px;
  width: 50px;
}
.return :hover{
 background-color: #fd7e14 !important;
}

#btnAdd {
  font-size: 12px;
  height: 40px;
  width: 45px;
}

#iconoClear {
  background-color: #0d6efd;
  border: solid 1px #bcbcbc;
  width: 60px;
}

.custom-table td,
.custom-table th {
  padding: 0;
}

@media (max-width: 800px) {
  td {
    font-size: 12px;
  }
  .custom-table {
    font-size: 12px;
  }

  #inputSearchMedicine {
    font-size: 12px;
  }
  #btnDeleteMedicine {
    font-size: 12px;
  }
}

@media (max-width: 550px) {
  .custom-table {
    font-size: 9px;
  }

  .btn-sm {
    font-size: 9px;
  }

  #idTextMedicine {
    font-size: 9px;
  }

  #btnAdd {
    font-size: 12px;
  }

  #inputSearchMedicine {
    font-size: 9px;
  }

  #selectSearchMedicine {
    font-size: 9px;
  }

  #btnTables {
    font-size: 9px;
    height: 30px;
    width: 35px;
  }
}
