/* TODO: This is my own css code */
#btnTable {
  height: 15px;
  padding-bottom: 5px;
}

#btnAdd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0d6efd;
  border: solid 1px #bcbcbc;
  height: 30px;
  width: 60px;
}

#iconoClear {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0d6efd;
  border: solid 1px #bcbcbc;
  height: 40px;
  width: 45px;
  margin-top: 35px;
}

/* TODO: ------------------- */

.container h3 {
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 300;
  color: #3c4858;
}
.container h4 {
  font-size: 18px;
  line-height: 1.5;
  margin: 10px 0;
  font-weight: 300;
  color: #3c4858;
}
.container option {
  font-size: 18px;
  line-height: 1.5;
  margin: 10px 0;
  font-weight: 300;
  color: #3c4858;
}

.btn-group {
  position: relative;
  margin: 10px 1px;
  display: inline-flex;
  vertical-align: middle;
}
.btn-group .btn {
  padding: 6.5px 20px !important;
}
.btn.btn-round {
  border-radius: 30px !important;
}

.btn-group .btn.btn-round {
  border-radius: 30px !important;
}

.btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.btn-group > .btn:not(:first-child) {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.btn .material-icons {
  position: relative;
  display: inline-block;
  top: 0;
  margin-top: -1.2em;
  margin-bottom: -1em;
  font-size: 1.1rem;
  vertical-align: middle;
}
.btn.btn-sm {
  border-radius: 3px !important;
}

.btn.btn-just-icon.btn-sm {
  height: 30px;
  min-width: 30px;
  width: 30px;
}

.btn.btn-just-icon {
  height: 41px;
  min-width: 41px;
  width: 41px;
  padding: 0 !important;
  overflow: hidden;
  position: relative;
  line-height: 41px;
}

.btn.btn-just-icon.btn-round {
  border-radius: 50% !important;
  margin-right: 1px;
}

.table {
  width: 100%;
  max-width: 100%;
}

.table thead tr th {
  font-size: 17px;
  font-weight: 100;
}

.table > thead > tr > th {
  padding: 12px 8px;
  vertical-align: middle;
  border-color: #ddd;
  font-weight: 300;
}

.table > tbody > tr > td {
  vertical-align: middle;
  border-color: #ddd;
  font-weight: 300;
  font-size: 16px;
  color: #3c4858;
}
