@media (max-width: 768px) {
  td {
    font-size: 12px;
  }
  .custom-table {
    font-size: 14px;
  }

  .custom-table td,
  .custom-table th {
    padding: 0.5rem;
  }
}

@media (max-width: 500px) {
  .custom-table {
    font-size: 9px;
  }

  .custom-table td,
  .custom-table th {
    padding: 0.2rem;
  }
  .btn-sm {
    font-size: 9px;
  }

  #idTextPatient {
    font-size: 12px;
  }

  #btnTables {
    font-size: 10px;
  }
}

