#btnTables {
  font-size: 12px;
  height: 30px;
  width: 85px;
}

#btnAdd {
  font-size: 12px;
}
#btnClearTable {
  font-size: 14px;
}

.custom-table td,
.custom-table th {
  padding: 0;
}

@media (max-width: 800px) {
  td,
  th {
    font-size: 12px;
  }
  .custom-table {
    font-size: 16px;
  }
  .inputTable {
    font-size: 12px;
  }

  #inputSearchPatient {
    font-size: 12px;
  }
  #selectSearchPatient {
    font-size: 12px;
  }
}

@media (max-width: 700px) {
  td,
  th {
    font-size: 9px;
  }

  .btn-sm {
    font-size: 9px;
  }

  #idTextPatient {
    font-size: 9px;
  }

  #btnAdd {
    font-size: 12px;
  }

  #inputSearchPatient {
    font-size: 9px;
  }

  #selectSearchPatient {
    font-size: 9px;
  }

  #btnTables {
    font-size: 9px;
    height: 25px;
    width: 70px;
  }
}
